button {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;
    outline: 0;
    display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-direction: normal;
    
  }

  .list-item{
line-height: 1;
text-rendering: optimizeLegibility;
-webkit-box-direction: normal;
user-select: none;
padding: 0;
border: 0;
font-weight: inherit;
font-style: inherit;
font-family: inherit;
font-size: 100%;
vertical-align: baseline;
outline: 0;
position: relative;
margin: 0 0 8px;
margin-top: 8px;
display: flex;
-webkit-box-pack: center;
justify-content: center;
width: 72px;
  }


  .w3-xlarge {
    font-size: 20px!important;
}
  

